<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

  <section>
    <h1>About HomeNet</h1>
    <p>This is our local network, where the server is Saqib's computer, only created for our private sharing and connection</p>
  </section>

<%- include('./partials/footer.ejs') %>