head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title
    | HomeNet - #{''}
    block title
  link(rel="shortcut icon", type="image/x-icon", href="/images/earth.svg")
  link(rel="stylesheet", href="/styles/main.css")
  block link
  block script
