extends ../layout.pug

block title
  | Discuss

block script
  script(defer, src="/socket.io/socket.io.js")
  script(defer, src="/script.js")
  script addEventListener('load', () => discuss())

block content
  section#chatsect
    ul#chatbox
    form#sendmsg
      input(type="text", name="msg", placeholder="Type a message...", autocomplete="off")
      input(type="submit", value="Send")
