<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

  <section>
    <h1>404 - OOPS!</h1>
    <p>The searched page was not found :)</p>
  </section>

<%- include('./partials/footer.ejs') %>