extends ./layout.pug

block title
  | About

block content
  section
    h1 About HomeNet
    p This is our local network, where the server is Saqib's computer, only created for our private sharing and connection
